body {
    background-color: #aeeeee; /* Código de cor para azul bebê */
    margin: 0; /* Remover margens padrão do corpo da página */
    padding: 0; /* Remover preenchimento padrão do corpo da página */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/394/189/small/ice-cube-clipart-design-illustration-free-png.png);
    background-size: 70px;
}
.quadrado {
    width: 650px; /* Largura do quadrado */
    height: 650px; /* Altura do quadrado (aumentada para acomodar os novos elementos) */
    background-color: rgba(152, 251, 152, 0.7); /* Cor verde bebê com opacidade */
    border-radius: 20px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.quadrado3 {
    width: 1350px; /* Largura do quadrado */
    height: 650px; /* Altura do quadrado (aumentada para acomodar os novos elementos) */
    background-color: rgba(152, 251, 152, 0.7); /* Cor verde bebê com opacidade */
    border-radius: 20px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
}
.texto-pomposo {
    font-family: "Times New Roman", serif; /* Escolha uma fonte mais pomposa, como Georgia */
    font-size: 28px; /* Tamanho da fonte */
    color: #dbffe0; /* Cor branca */
    text-shadow: 0px 1px 1px #000000; /* Contorno preto com sombra de texto */
    margin-bottom: 20px; /* Espaçamento inferior para separar do próximo elemento */
}
.texto-pomposo2 {   
    font-family: "Times New Roman", serif; /* Escolha uma fonte mais pomposa, como Georgia */
    font-size: 28px; /* Tamanho da fonte */
    color: #dbffe0; /* Cor branca */
    text-shadow: 0px 1px 1px #000000; /* Contorno preto com sombra de texto */
    margin-bottom: 20px; /* Espaçamento inferior para separar do próximo elemento */
    text-align: left;
}
.link-cadastro {
    color: #0000ff; /* Cor azul para o link de cadastro */
    text-shadow: 1px 0px 0px #ffffff;
    display: block; /* Fazer o link ocupar toda a largura disponível */
    margin-top: 20px; /* Espaçamento superior */
    font-size: 14px; /* Tamanho da fonte aumentado para tornar mais legível */
    text-decoration: none; /* Remover sublinhado padrão do link */
}
.kk {
    font-family: "Times New Roman", serif; /* Escolha uma fonte mais pomposa, como Georgia */
    font-size: 28px; /* Tamanho da fonte */
    color: #dbffe0; /* Cor branca */
    text-shadow: 0px 1px 1px #000000; /* Contorno preto com sombra de texto */
    margin-bottom: 20px; /* Espaçamento inferior para separar do próximo elemento */
    
}
input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
}
input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 20px 0;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
}
input[type=text]:focus {
    background-color: rgba(152, 251, 152, 0.1);
    color:#000000;
}
input[type=password]:focus {
    background-color: rgba(152, 251, 152, 0.1);
    color:black;
}
input[type=submit]:focus {
    background-color: rgba(152, 251, 152, 0.1);
    color:black;
}
.iframe{
    padding:10px;
    background:#000;
    webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width:560px;
    margin:0 auto;
    overflow:hidden;
}
.forgodssake{
    width: 3500px; /* Largura do quadrado */
    height: 720px; /* Altura do quadrado (aumentada para acomodar os novos elementos) */
    background-color: rgba(255, 255, 255); /* Cor verde bebê com opacidade */
    border-radius: 50px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
}